@media only screen and (max-width: 1440px) {
    .ul-list6-2 .txt p{max-height: 130px;}
    .index-news .col{padding: 0 15px;}
}
@media only screen and (max-width: 1366px) {
    .index-news .col{padding: 0 10px;}
}
/*Common For Max 1200*/
@media only screen and (max-width: 1365px) {
    /*公用*/
    .nav .v1{width: 98px;}
    .nav li .con{padding: 15px;}
    .nav .con .pic{margin-right: 15px;}
    .nav .con dl{width: 140px;}
    /*首页*/
    .ul-list2{width: auto;}
    .ul-list6-2 .txt p{max-height: 104px;}
    
}

/*Common For Max 960*/
@media only screen and (max-width: 1199px) {
    /*公用*/
    .wp1{margin: 0 20px;width: auto;}
    .nav .v1{width: 90px;}
    .nav .con dl{width: 130px;}
    .m-mess{padding-right: 5%;}
    /*首页*/
    .g-box{padding: 35px 0;}
    .g-tit1,.m-case .txt h2{margin-bottom: 30px;font-size: 30px;}
    .ul-list1{margin: 30px -50px 0 0;}
    .ul-list1 li{padding: 30px 50px 30px 0;}
    .m-case .pic{width: 40%;}
    .ul-list4{margin-top: 30px;}
    .m-bt{padding-top: 0;}
    .ul-list5 li{padding-right: 20px;}
    /*内页*/
    .ul-list7 li{padding: 0 10px;}
    .ul-list7 .txt p{margin: 0 10px;}
    .m-intro1 .txt h3{margin-bottom: 12px;}
    .ul-list8 li,.ul-list10 li{padding: 0 8px;}
    .ul-list8 li .con{padding: 25px 20px;}
    .ul-list10 li h3{font-size: 18px;}
    .ul-list9-2{margin: 0;}
    .ul-list6-1,.m-article{width: auto;}
    .toTop{bottom: 90px;right: 5px;}
    .ul-list6-2 li .pic{float: none;margin-right: 0;width: auto;}
    .index-news .col{width: 50%;margin-bottom: 20px;}
    .m-newsBox .pic{overflow: hidden;position: relative;padding-top: 42%;height: auto;}
    .m-newsBox .pic img{position: absolute;top: 0;left: 0;}

}

@media only screen and (max-width: 1005px){
    .nav .v1{width: 71px;}
}
@media only screen and (max-width: 1100px){
    .nav .v1{width: 76px;}
}
/*Common For Max 768*/
@media only screen and (max-width: 959px) {
    /*公用*/
    .wp{max-width: 96%;}
    #hd{position: fixed;top: 0;left: 0;right: 0;z-index: 999;}
    #hd .header{height: 40px;padding: 5px 0;background: #fff;}
    .logo{height: 40px;line-height: 40px;}
    body.open #hd .header{background: #066499;}
    body.open .logo .img1,.nav .con .pic,#ban{display: none;}
    body.open .logo .img2{display: inline-block;}
    #fd{padding: 30px 0;}
    .m-mess,.nav .con dl,.m-intro1 .pic,.m-intro3 .pic,.m-intro4 .txt,.m-detail .pic{float: none;width: auto;}
    .m-mess{margin-bottom: 20px;padding-right: 0;}
    /*******************************
        -------[=导航]-------
    ********************************/
    .menuBtn{display: block;}
    .nav{display: none;overflow: hidden;float: none;position: fixed;left: 0;top: 80px;right: 0;bottom: 0;z-index: 2;
        background-color: #066499;padding: 10px 2%;
    }
    .nav li{float: none;margin: 0;}
    .nav .v1{width: auto;line-height: 50px;border-bottom: 1px solid #fff;font-size: 16px;color:#fff;text-align: left;}
    .nav .v1 i{display: block;}
    .nav li .con{display: block;overflow-y:auto;position: fixed;top: 80px;width: 100% !important;left: auto !important;right: 0;bottom: 0;padding: 10px 1%;background: #066499;z-index:10;
        transition: .4s;
        -ms-transition: .4s;
        -moz-transition: .4s;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transform: translate(100%,0);
        -webkit-transform: translate(100%,0);
        -moz-transform: translate(100%,0);
        -o-transform: translate(100%,0);
        -ms-transform: translate(100%,0);
    }
    .nav .con dd a{display: block;border-bottom:1px solid #fff;color: #fff;}
    .nav .con dd i{float: right;}
    /*首页*/
    #banner{display: block;margin-top: 80px;}
    .g-box{padding: 25px 0;}
    .g-tit1, .m-case .txt h2{margin-bottom: 20px;font-size: 28px;}
    .ul-list1 li h3{margin-bottom: 15px;font-size: 18px;}
    .ul-list1 li i{width: 50px;height: 50px;line-height: 50px;}
    .ul-list1 li p{overflow: hidden;height: 112px;}
    .m-case .txt .icon{margin-right: 15px;width: 70px;height: 70px;line-height: 65px;}
    .ul-list4{margin-top: 20px;}
    .ul-list4 li,.ul-list8 li,.ul-list9 li,.ul-list10 li,.ul-list11 li,
    .m-intro5-1 .col-l, .m-intro5-1 .col-c,.m-partner .list li{width: 50%;}
    .ul-list5{float: none;margin:0 -10px 20px;width: auto;}
    .ul-list5 li,.m-intro5 .col-l, .m-intro5 .col-r{padding: 0 10px;}
    .ul-list6 li{margin-bottom: 20px;}
    .m-link{padding: 0 80px;}
    .m-contact h2,.m-case .txt .icon i{font-size: 24px;}
    .m-contact p{font-size: 16px;}
    /*内页*/
    .m-tab2 ul{margin: 0 -80px;}
    #ban1{margin-top: 80px;}
    .m-intro1 .pic,.m-detail .pic{margin-right: 0;}
    .ul-list8 li,.ul-list10 li{margin-bottom: 10px;}
    .m-intro3 .pic img{margin: 0 auto;}
    .m-intro4 .txt{text-align: center;}
    .m-intro5{margin: 0 -10px;}
    .m-intro5-1 .col-r{margin-top: 20px;width: 100%;}
    .ul-list12 li{padding-left: 30px;}
    .m-map .txt h3{font-size: 18px;}
    .m-eval li .code, .m-eval li .btn-code{width: 105px;}
    .m-eval li .con3{padding-left: 120px;}
    .ul-list6-1 .txt p{max-height:104px;}
    .m-news1{padding-top: 20px;}
    .index-news .col{padding: 0 5px;}
}



/*Common For Max 480*/
@media only screen and (max-width: 767px) {
    /*公用*/
    #fd,.g-box{padding: 20px 0;}
    #fd .tit{margin-bottom: 15px;font-size: 18px;}
    .m-contact1 .con p,.ul-list3 .pic,.ul-list7 .pic,.ul-list7 .txt h3,.ul-list7 .txt p{margin-bottom: 10px;}
    /*首页*/
    .g-tit1, .m-case .txt h2,.m-intro1 .txt h3,#ban1 .tit,.g-tit2{font-size: 20px;}
    .m-info{width: 96%;}
    .m-info,.ul-list1 li p,.m-case .con p{line-height: 24px;}
    .ul-list1{margin: 20px 0 0;}
    .ul-list1 li{padding: 20px 10px;width: 50%;}
    .ul-list1 li::after{display: none;}
    .ul-list1 li h3,.m-case .con h3,.ul-list2 .mask p{font-size: 16px;}
    .ul-list2 li,.ul-list7 li,.m-tab3 li{width: 50%;}
    .m-case .pic,.m-intro2 .txt,.m-map .map,.ul-list6 li .pic{float: none;margin-bottom: 15px;width: auto;}
    .ul-list6-2 li .pic{margin-bottom: 0;}
    .m-case .txt,.m-tab3 li{text-align: center;}
    .m-case .txt .btn{margin: 0;}
    .m-case .txt .con{text-align: left;}
    .ul-list3{padding-bottom: 20px;background: none;}
    .ul-list3 li{margin-top: 20px;}
    .ul-list3 li:nth-child(2n+1){padding-right: 10px;text-align: center;}
    .ul-list3 li:nth-child(2n){padding-left: 10px;text-align: center;}
    .ul-list3 li h3,.m-contact h2,.m-intro2 .txt h3,.m-serve li h3,.m-article .txt h1{font-size: 18px;}
    .ul-list3-1 li:nth-child(2n+1) h3{padding-right: 0;}
    .ul-list3-1 li:nth-child(2n) h3{padding-left: 0;}
    .m-contact p{font-size: 14px;}
    .m-link,.ul-list14 li a{padding: 0 40px;}
    .m-link .slick-prev{left: 0;}
    .m-link .slick-next{right: 0;}
    .m-tab2{overflow: hidden;margin: 0 0 20px;}
    .m-tab2::after{top: 30px;}
    .m-tab2 ul{margin: 0 -10px;}
    .m-tab2 li{background-position: right 22px;}
    .m-tab2 li i{width: 60px;height: 60px;line-height: 60px;}
    .m-tab2 li p,.m-serve li p,.ul-list7 .txt p{font-size: 12px;}
    .m-serve,.m-login2,.m-reg{width: auto;}
    .m-serve li{padding-top: 70px;}
    .m-serve li p{line-height: 26px;}
    .m-serve li:first-child p{margin-right: 30px;}
    .ul-list9 li,.m-intro2 .more,.m-intro5 .col-l, .m-intro5 .col-r,.m-intro5-1 .col-c,
    .m-eval .col-l,.m-eval .col-r,.m-news1 .col-l{float: none;width: auto;}
    .ul-info1{padding-top: 20px;}
    .m-map li,.m-map .txt{height: auto;}
    .m-map .map,.ul-list6 li .pic,.m-news1 .col-l{margin-right: 0;}
    .wp1{margin: 0 10px;}
    .m-logo{padding-top: 20px;}
    .g-tit3{padding-top: 10px;font-size: 22px;}
    .m-eval{margin: 20px 0;}
    .m-login2{width: 460px;}
    .m-login2 ul li{padding: 0 15px;}
    .m-login2 ul{margin: 0 -15px;}
    .m-newsBox a{padding: 10px;}
    .ul-list15{padding: 10px 0;margin-bottom: 20px;}
    .ul-list15 li{padding: 6px 10px;}
}


/*Common For Max 320*/
@media only screen and (max-width: 479px) {
    /*公用*/
    .nav .v1{line-height: 40px;}
    .m-mess .con1,.m-intro3 li h3{margin-bottom: 0;}
    .m-mess .con1 .inp,.m-contact1 .con,.m-tab2 li,.ul-list7 li,.ul-list10 li{float: none;margin-bottom: 10px;width: auto;}
    .m-mess .con2,.ul-list5 li,.ul-list9-1 li,.m-map .txt .p1,.m-detail .intro h3,.m-detail .info h3{margin-bottom: 10px;}
    /*首页*/
    #banner .slick-dots{bottom: 10px;}
    #banner .slick-dots li button{width: 14px;height: 14px;}
    .g-box,.ul-list11 .price{padding: 10px 0;}
    .g-tit1, .m-case .txt h2{margin-bottom: 10px;padding-bottom: 10px;}
    .ul-list1 li,.ul-list2 li,.ul-list4 li,.ul-list5 li,.m-serve li,
    .ul-list8 li,.ul-list11 li{float: none;width: auto;}
    .ul-list1 li p{height: auto;}
    .ul-list3 li h3, .m-contact h2,.m-map .txt h3{font-size: 16px;}
    .m-tab2::after{display: none;}
    .m-serve li{
        -webkit-background-size: auto auto;
        background-size: auto auto;
    }
    .m-serve li:first-child p{margin-right: 62px;}
    .m-intro1 .txt p{line-height: 24px;font-size: 13px;}
    .ul-list8 li h3,.ul-list9 .txt h3,.m-intro3 li h3,.ul-list11 li h3,.g-tit2,.m-reg .tit,.m-detail .intro h3{font-size: 18px;}
    .ul-list8 li h3{margin: 10px 0;}
    .m-intro3,.m-show1{margin-top: 10px;}
    .m-intro3 .txt ul{background-position: 25px top;}
    .m-intro3 .txt li{padding-top: 28px;}
    .m-intro3 li i{margin-right: 12px;width: 60px;height: 60px;line-height: 60px;font-size: 28px;}
    .ul-list11 .price{font-size: 24px;}
    .g-tit2{margin-bottom: 10px;padding-bottom: 10px;}
    .m-tab3 li a{padding: 0;font-size: 13px;}
    .m-con3 .more,.m-detail .info{margin-top: 30px;}
    .m-reg,.m-map .txt{padding: 10px;}
    .m-article .txt{overflow: visible;}
    .m-article .txt .con{margin-top: 20px;}
    .g-tit3{font-size: 20px;}
    .m-info3{font-size: 13px;}
    .m-eval .tit{margin-bottom: 10px;font-size: 16px;}
    .m-eval li,.soBox{margin-bottom: 10px;}
    .m-eval li .inp,.m-eval li select,.m-eval li textarea{font-size: 13px;}
    .m-eval li .con1{width: 50%;}
    .m-eval li .con2{width: 45%;}
    .btn-sub{height: 44px;}
    .m-login1{margin: 50px 20px 0;width: auto;}
    .m-pages{padding: 20px 0;}
    .m-pages ul li{margin: 0 3px 10px;}
    .m-pages li a{font-size: 12px;}
    .m-article{padding-bottom: 20px;}
    .m-login2{margin: 30px auto 0;width: 280px;}
    .m-login2 ul{margin: 0 -5px;}
    .m-login2 ul li{width: 33.3%;padding: 0 5px;}
    .toTop{bottom: 80px;}
    .g-tit2-2{padding-bottom: 0;}
    .ul-list6 .date{margin-right: 10px;}
    .ul-list6 .txt h3{font-size: 16px;}
    .m-news1{padding-top: 10px;}
    .index-news .col{float: none;width: auto;}
    .m-article .txt .info{overflow: hidden;font-size: 12px;}
    .m-article .txt .info span{float: left;width: 50%;margin-right: 0;}
}
@media only screen and (max-width: 413px) {
    .m-article .txt .info span{float: none;display: block;width: auto;}
}

/*新的轮播*/
#new-banner{
    width:100%;
}
#new-banner .swiper-slide a{
    display: inline-block;
    width:100%;
}
#new-banner .swiper-slide a img{
    width:100%;
}
@media (min-width:768px) {
    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }
}
@media (max-width:960px) {
    #new-banner{
        margin-top:90px;
        display:none;
    }
}